<div class="row">
  <div class="span12">
    <div class="widget stacked ">
      <div class="widget-header">
        <i class="icon-briefcase"></i>
        <h3>Storage Request</h3>
      </div> <!-- /widget-header -->

      <div class="widget-content">
        <%= simple_form_for @storage_request do |f| %>

          <% if @storage_request.errors.any? %>
            <div class="alert fadeout" data-dismiss="alert">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <% @storage_request.errors.full_messages.each do |msg| %>
                <%= msg %><br>
              <% end %>
            </div>
          <% end %>

          <div class="span11">
            <div class="widget stacked ">
              <div class="widget-header">
                <i class="icon-briefcase"></i>
                <h3>Box Details</h3>
              </div> <!-- /widget-header -->
              <div class="widget-content">
                <div class="accordion" id="accordion2">


                  <%= f.fields_for :packages do |builder1| %>

                    <fieldset>
                      <div class="accordion-group">
                        <div class="accordion-heading">
                          <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" style="cursor: default" data-href="#<%= builder1.to_s.gsub(/[^0-9a-z ]/i, '') %>">

                            <table width="100%">
                              <tr width="100%" height="2px">
                                <td style="text-align:left " width="90%">
                                  <%= builder1.hidden_field :user_id, :value => current_user.id %>
                                  <%= builder1.input :reference_id, placeholder: 'Box name', :label => false, :input_html => { :class => "span9", :style => "background-color: transparent; border: transparent; margin-bottom: 0px; text-transform:uppercase"} %>
                                </td>
                                <td style="text-align:right; control-group{margin-bottom: 0px;}" width="10%">

                                  <a class="icon-chevron-down icon-shadow" data-toggle="collapse" href="#<%= builder1.to_s.gsub(/[^0-9a-z ]/i, '') %>" title="Expand/Collapse Box"></a>
                                  <%= link_to_add_items "", builder1, :items %>
                                  <%= builder1.hidden_field :_destroy %>
                                  <%= link_to "", '#', class: "icon-remove remove_fields", :title => "Remove Box" %>
                                </td>
                              </tr>
                            </table>

                          </div>
                        </div>
                        <div id="<%= builder1.to_s.gsub(/[^0-9a-z ]/i, '') %>" class="accordion-body collapse">
                          <div class="well" style="background-color:transparent; border:none; margin-bottom:0px" >
                            <%= builder1.fields_for :items do |builder2| %>

                              <fieldset>
                                <%= builder2.input :name, :wrapper => :prepend, :label => false do %>
                                  <%= builder2.hidden_field :user_id, :value => current_user.id %>
                                  <%= content_tag :span, "Item Name", :class => "add-on" %>
                                  <%= builder2.input_field :name, :class => 'span8 item-textbox', :style => "text-transform:uppercase", :onkeypress => 'if(event.keyCode==13) { $(this).closest(".accordion-group").find(".add_items").click(); }' %>
                                  <%= builder2.hidden_field :_destroy %>
                                  <%= link_to "remove", '#', class: "add-on remove_fields" %>
                                <% end %>
                              </fieldset>

                            <% end %>
                          </div>
                        </div>
                      </div>
                    </fieldset>

                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class = "span11">
            <div class = "pull-left">
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= link_to_add_fields "Add Box", f, :packages %>
            </div>
            <div class = "pull-right">
              <%= f.button :submit, 'Save as Draft', :name => 'draft', :class => 'btn btn-primary', :onmousedown => 'this.title=1;' , :onclick => 'if(this.title!=1){return false;}' %>
              <%= f.button :submit, 'Submit', :name => 'draft', :class => 'btn btn-danger', :onmousedown => 'this.title=1;' , :onclick => 'if(this.title!=1){return false;}' %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
