<%= simple_form_for @storage_request do |f| %>

  <% if @storage_request.errors.any? %>
    <div class="alert fadeout" data-dismiss="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <% @storage_request.errors.full_messages.each do |msg| %>
        <%= msg %><br>
      <% end %>
    </div>
  <% end %>

  <div class="span4">
    <div class="widget stacked ">
      <div class="widget-header">
        <i class="icon-briefcase"></i>
        <h3>Storage Request Details</h3>
      </div> <!-- /widget-header -->
      <div class="widget-content">
        <p><b>Requested By: </b><%= current_user.full_name %></p>
        <div>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.input :due_date, :as => :datepicker, :required => true, :placeholder => "DD/MM/YYYY" %>
          <%= link_to_add_fields "Add Package", f, :packages %>
          <p><p><%= f.button :submit, :class => 'btn btn-primary' %></p></p>
        </div>
      </div>
    </div>
  </div>

  <div class="span7">
    <div class="widget stacked ">
      <div class="widget-header">
        <i class="icon-briefcase"></i>
        <h3>Package Details</h3>
      </div> <!-- /widget-header -->
      <div class="widget-content">
        <div class="accordion" id="accordion2">
          <%= f.fields_for :packages do |builder| %>
            <%= render 'package_fields', f: builder %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% end %>
