<fieldset>
  <div class="accordion-group">
    <div class="accordion-heading">
      <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" style="cursor: default">

        <table width="100%">
          <tr width="100%" height="2px">
            <td style="text-align:left " width="90%">
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <div class="form-horizontal">
                <%= f.input :name, label: 'Box Name', :required => true, :autofocus => true, :input_html => { :class => "span6", :style => "text-transform:uppercase"} %>
              </div>
              <div class="form-horizontal">
<<<<<<< HEAD
                <%= f.input :insurance_value, label: 'Risk Level', priority: [ "Low" ], collection: [ "High", "Medium", "Low" ], :required => true %>
=======
                <%= f.input :insurance_value, priority: [ "Low" ], collection: [ "Low", "Medium", "High" ], :required => true, hint:  '*Note: High And Medium Risk Levels Will Incur Additional Insurance Cost' %>

>>>>>>> 20cb01cd8d5e2ac092ace4e6dd7ebdf44a0bd7c2
              </div>
            </td>

            <td style="text-align:right; control-group{margin-bottom: 0px;}" width="10%">
              <a class="icon-chevron-down icon-shadow" data-toggle="collapse" href="#dyn-id" title="Expand/Collapse Box"></a>
              <%= link_to_add_items "", f, :items %>
              <%= f.hidden_field :_destroy %>
              <%= link_to "", '#', class: "icon-remove remove_fields", :title => "Remove Box" %>
            </td>
          </tr>
        </table>

      </div>
    </div>
    <div id="dyn-id" class="accordion-body collapse">
      <div class="well" style="background-color:transparent; border:none; margin-bottom:0px" >
          <%= f.fields_for :items do |builder| %>
            <%= render 'item_fields', f: builder %>
          <% end %>
      </div>
    </div>
  </div>
</fieldset>
