<fieldset>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#dyn-id">

        <table width="100%">
          <tr width="100%" height="2px">
            <td style="text-align:left " width="90%">
              <%= f.input :reference_id, placeholder: 'Package Reference ID', :label => false, :input_html => { :class => "span6", :style => "background-color: transparent; border: transparent; margin-bottom: 0px"} %>
            </td>
            <td style="text-align:right; control-group{margin-bottom: 0px;}" width="10%">
              <%= f.hidden_field :_destroy %>
              <%= link_to "", '#', class: "icon-remove remove_fields " %>
            </td>
          </tr>
        </table>

      </a>
    </div>
    <div id="dyn-id" class="accordion-body collapse">
      <div class="well" style="background-color:transparent; border:none; margin-bottom:0px" >


          <!--<%= f.input :reference_id, label:  false, placeholder: 'Package Reference ID' %> -->
          <%= f.fields_for :items do |builder| %>
            <%= render 'item_fields', f: builder %>
          <% end %>
          <%= link_to_add_items "Add Items", f, :items %>

      </div>
    </div>
  </div>
</fieldset>
