<fieldset>
  <div class="accordion-group">
    <div class="accordion-heading">
      <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" style="cursor: default">

        <table width="100%">
          <tr width="100%" height="2px">
            <td style="text-align:left " width="90%">
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.input :reference_id, placeholder: 'Box name', :label => false, :input_html => { :class => "span5", :style => "background-color: transparent; border: transparent; margin-bottom: 0px; text-transform:uppercase"} %>
            </td>
            <td style="text-align:right; control-group{margin-bottom: 0px;}" width="10%">
              <a class="icon-chevron-down icon-shadow" data-toggle="collapse" href="#dyn-id" title="Expand/Collapse Box"></a>
              <%= link_to_add_items "", f, :items %>
              <%= f.hidden_field :_destroy %>
              <%= link_to "", '#', class: "icon-remove remove_fields", :title => "Remove Box" %>
            </td>
          </tr>
        </table>

      </div>
    </div>
    <div id="dyn-id" class="accordion-body collapse">
      <div class="well" style="background-color:transparent; border:none; margin-bottom:0px" >
          <%= f.fields_for :items do |builder| %>
            <%= render 'item_fields', f: builder %>
          <% end %>
      </div>
    </div>
  </div>
</fieldset>
