<div class="row">
  <div class="span12">
    <div class="widget big-stats-container stacked">
      <div class="widget-content">
        <div id="big_stats" class="cf">
          <div class="stat">
            <h4>Open Storage Request</h4>
            <span class="value"><%= @storage_requests.size%></span>
          </div> <!-- .stat -->

          <div class="stat">
            <h4>Storage Request - New</h4>
            <span class="value"><%= @storage_requests.size %></span>
          </div> <!-- .stat -->

          <div class="stat">
            <h4>Storage Request - In Progress</h4>
            <span class="value"><%= @storage_requests.size %></span>
          </div> <!-- .stat -->
        </div>
      </div> <!-- /widget-content -->
    </div> <!-- /widget -->
  </div> <!-- /span12 -->
</div> <!-- /row -->

<div class="row">
  <div class="span12">
    <div class="widget stacked ">
      <div class="widget-header">
        <i class="icon-briefcase"></i>
        <h3>List Storage Requests</h3>
      </div> <!-- /widget-header -->
      <div class="widget-content">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="admin_users">
          <thead>
            <tr>
              <th>Request Date</th>
              <% if current_user.role == "Super User" %>
                <th>Request By</th>
              <% end %>
              <% if current_user.role == "Admin" %>
                <th>Request By</th>
              <% end %>
              <th>Number of Box(s)</th>
              <th>Status</th>
              <% if current_user.role == "User" %>
                <th class="td-actions">Action</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @storage_requests.each do |storage_request| %>
            <tr>
              <td><%= storage_request.created_at.strftime("%d %b, %Y") %></td>
              <% if current_user.role == "Super User" %>
                <td><%= storage_request.user.full_name %></td>
              <% end %>
              <% if current_user.role == "Admin" %>
                <td><%= storage_request.user.full_name %></td>
              <% end %>
              <td><%= pluralize(storage_request.packages.size, "Box") %></td>
              <td><%= storage_request.state %></td>
              <% if current_user.role == "User" %>
                <td class="td-actions">
                  <%= link_to "View", storage_request_path(storage_request), :class => 'btn btn-mini btn-primary'%>
                </td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

