<div class="row">
  <div class="span4">
    <div class="widget stacked ">
      <div class="widget-header">
        <i class="icon-briefcase"></i>
        <h3>Storage Request</h3>
      </div> <!-- /widget-header -->

      <div class="widget-content">
        <p><b>Number of Box(s): </b><%= pluralize(@storage_request.packages.size, "Box") %></p>
        <% if @storage_request.submit_state == "draft" %>
          <p><b>Status: </b><span class="label label-warning"><%= @storage_request.state %></span></p>
          <%= render 'dashboards/users/alert' %>
          <%= link_to "Edit / Submit", edit_storage_request_path(@storage_request), :class => 'btn btn-primary' %>
        <% else %>
          <p><b>Status: </b><%= @storage_request.state %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="span8">
    <div class="widget stacked ">
      <div class="widget-header">
        <i class="icon-file"></i>
        <h3>Requested Box(s)</h3>
      </div> <!-- /widget-header -->

      <div class="widget-content">
        <div class="accordion" id="accordion2">
          <% @storage_request.packages.each do |package| %>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%= package.id %>">
                  <table width="100%"><tr>
                    <td width="20px"><i class="icon-inbox"></td></i><td style="text-align:left"><%= package.reference_id %></td><td style="text-align:right">(<%= pluralize(package.items.size, "Item") %>)</td>
                  </tr></table>
                </a>
              </div>
              <div id="<%= package.id %>" class="accordion-body collapse">
                <div class="accordion-inner">
                 <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                    <tbody>
                      <% package.items.each_with_index do |item, n| %>
                        <tr>
                          <td width = "5px"><%= n + 1 %></td>
                          <td><%= item.name %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div> <!-- /span-8 -->
</div> <!-- /row -->
