<%= simple_form_for(@storage_request, :html => { :class => 'form-horizontal' } ) do |f| %>

  <% if @storage_request.errors.any? %>
    <div class="alert fadeout" data-dismiss="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <% @storage_request.errors.full_messages.each do |msg| %>
          <%= msg %><br>
        <% end %>
      </div>
  <% end %>



  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.input :due_date, :as => :datepicker, :required => true, :placeholder => "DD/MM/YYYY" %>
  </div>

  <%= f.fields_for :packages do |builder| %>
    <%= render 'package_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Package", f, :packages %>

  <div class="actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
