<fieldset>
  <div class="well">
    <%= f.input :reference_id, label: 'Package Reference ID:' %>
    <%= f.fields_for :items do |builder| %>
      <%= render 'item_fields', f: builder %>
    <% end %>
    <%= link_to_add_items "Add Items", f, :items %>
    <%= f.hidden_field :_destroy %>
    <%= link_to "remove", '#', class: "remove_fields" %>
  </div>
</fieldset>
