<% if @storage_requests_draft.count > 0 %>
  <%= render 'dashboards/users/alert' %>
<% end %>

<%= render 'dashboards/users/stats' %>

<div class="row">
  <div class="span6">
      <%= render 'dashboards/line' %>
  </div>
</div>

<div class="row">
  <div class="span8">
    <%= render 'dashboards/users/storage_requests' %>
    <%= render 'dashboards/users/retrieval_requests' %>
  </div> <!-- /span8 -->
  <div class="span4">
    <%= render 'dashboards/users/quick_shortcuts' %>
  </div> <!-- /span4 -->
</div> <!-- /row -->

