<%= simple_form_for(@user, :html => { :class => 'form-horizontal' }) do |f| %>
<div class="row">
  <div class="span8">
    <div class="widget stacked ">
      <div class="widget-header">
        <i class="icon-pencil"></i>
        <h3>Edit: <%= @user.full_name %></h3>
      </div> <!-- /widget-header -->

      <div class="widget-content">
        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#account_details" data-toggle="tab">Account Details</a>
            </li>
            <li><a href="#address" data-toggle="tab">Address</a></li>
            <li><a href="#password" data-toggle="tab">Reset Password</a></li>
          </ul>

          <br>

          <div class="tab-content">
            <div class="tab-pane active" id="account_details">
              <%= f.input :full_name, :required => true, :disabled => true %>
              <%= f.input :username, :disabled => true %>
              <%= f.input :email, :disabled => true %>
              <%= f.input :position, :required => true, :disabled => true %>
              <% if current_user.role == "Super User" %>
                <%= f.input :role, :collection => [ "Super User", "Admin", "User" ] %>
              <% end %>
              <% if current_user.role == "Super User" %>
                <%= f.input :user_type, :required => true, :collection => [ "Admin", "HQ", "Branch" ], as: :radio_buttons %>
              <% end %>
              <% if current_user.role == "Admin" %>
                <%= f.input :user_type, :required => true, :collection => [ "Admin", "HQ", "Branch" ], as: :radio_buttons %>
              <% end %>
            </div>

            <div class="tab-pane" id="address">
              <%= f.input :business_unit, :disabled => true %>
              <%= f.input :address1, :disabled => true %>
              <%= f.input :address2, :disabled => true %>
              <%= f.input :town, :disabled => true %>
              <%= f.input :postcode, :disabled => true %>
              <%= f.input :state, :disabled => true %>
              <%= f.input :phone1, :disabled => true %>
              <%= f.input :phone2, :disabled => true %>
              <%= f.input :phone3, :disabled => true %>
              <%= f.input :fax, :disabled => true %>
              <%= f.input :mobile, :disabled => true %>
            </div>

            <div class="tab-pane" id="password">
              <div class="alert">
                <strong>Warning!</strong> You will need to login back to access this application after changing your password.
              </div>
              <% if current_user == @user %>
                <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
                <%= f.input :password_confirmation, :required => false %>
              <% else %>
                <div class="alert">
                  <strong>This is not your account.</strong> You can only change password for your own account.
                </div>
              <% end %>
            </div>

          </div>
        </div>
      </div> <!-- /widget-content -->
    </div> <!-- /widget -->
  </div> <!-- /span8 -->

  <div class="span4">
    <div class="widget stacked widget-box">
      <div class="widget-header">
        <i class="icon-file"></i>
        <h3>History</h3>
      </div> <!-- /widget-header -->

      <div class="widget-content">
        <p><b>Created At: </b><%= @user.created_at.to_s(:datetime).humanize %></p>
        <p><b>Last Edited At: </b><%= @user.updated_at.to_s(:datetime).humanize %></p>
        <p><b>Login Count: </b><%= @user.sign_in_count %></p>
        <p><b>Last Sign In At: </b><%if @user.last_sign_in_at.blank? %>Never logged in<% else %><%= time_ago_in_words(@user.last_sign_in_at.to_datetime)+' ago' %><% end %></p>
      </div> <!-- /widget-content -->
    </div> <!-- /widget-box -->
  </div> <!-- /span4 -->

  <div class="span4">
    <div class="widget stacked widget-box">
      <div class="widget-header">
        <i class="icon-ok"></i>
        <h3>Actions</h3>
      </div> <!-- /widget-header -->

      <div class="widget-content">
          <%= f.button :submit, :class => 'btn-primary' %>
          <%= link_to 'Cancel', action: :index, :class => 'btn' %>
      </div> <!-- /widget-content -->
    </div> <!-- /widget-box -->
  </div> <!-- /span4 -->
</div> <!-- /row -->
<% end %>
