<div class="row">
  <div class="span8">
    <div class="widget stacked ">
      <div class="widget-header">
        <i class="icon-user"></i>
        <h3><%= @user.full_name %></h3>
      </div> <!-- /widget-header -->

      <div class="widget-content">
        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#account_details" data-toggle="tab">Account Details</a>
            </li>
            <li><a href="#history" data-toggle="tab">History</a></li>
          </ul>

          <br>

          <div class="tab-content">
            <div class="tab-pane active" id="account_details">
              <p><b>Full Name: </b><%= @user.full_name %></p>
              <p><b>Email: </b><%= @user.email %></p>
              <p><b>Business Unit: </b><%= @user.business_unit %></p>
              <p><b>Role: </b><%= @user.role %></p>
              <p><b>Active: </b><%= @user.active %></p>

              <%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-mini btn-danger' %>
              <% if can? :destroy, @user %>
                <%= link_to 'Destroy', @user, :data => { :confirm => 'Are you sure?' }, method: :delete, :class => 'btn btn-mini btn-primary' %>
              <% end %>
              <%= link_to 'Back', users_path, :class => 'btn btn-mini' %>
            </div>

            <div class="tab-pane" id="history">
              <p><b>Created At: </b><%= @user.created_at.to_s(:datetime).humanize %></p>
              <p><b>Last Edited At: </b><%= @user.updated_at.to_s(:datetime).humanize %></p>
              <p><b>Login Count: </b><%= @user.sign_in_count %></p>
              <p><b>Last Sign In At: </b><%if @user.last_sign_in_at.blank? %>Never logged in<% else %><%= time_ago_in_words(@user.last_sign_in_at.to_datetime)+' ago' %><% end %></p>
            </div>
          </div>
        </div>
      </div> <!-- /widget-content -->
    </div> <!-- /widget -->
  </div> <!-- /span8 -->

  <div class="span4">
    <div class="widget stacked widget-box">
      <div class="widget-header">
        <i class="icon-truck"></i>
        <h3>Address</h3>
      </div> <!-- /widget-header -->

      <div class="widget-content">
        <address>
          <strong><%= @user.business_unit %></strong><br>
          <%= @user.address1 %><br>
          <%= @user.address2 %><br>
          <%= @user.postcode %>, <%= @user.town %><br>
          <%= @user.state %><br><br>
          <abbr title="Phone#1">Phone#1:</abbr> <%= @user.phone1 %><br>
          <abbr title="Phone#2">Phone#2:</abbr> <%= @user.phone2 %><br>
          <abbr title="Phone#3">Phone#3:</abbr> <%= @user.phone3 %><br>
          <abbr title="Fax">Fax:</abbr> <%= @user.fax %><br>
          <abbr title="Mobile">Mobile:</abbr> <%= @user.mobile %>
        </address>

        <address>
          <strong>Email</strong><br>
          <a href="mailto:#"><%= @user.email %></a>
        </address>
      </div> <!-- /widget-content -->
    </div> <!-- /widget-box -->
  </div> <!-- /span4 -->
</div> <!-- /row -->
