<div class="widget widget-table">
  <div class="widget-header">
    <span class="icon-list-alt"></span>
    <h3>Open Box Request</h3>
  </div> <!-- .widget-header -->

  <div class="widget-content">
    <% if @box_requests_open_admin.count != 0 %>

    <div class="accordion" id="basic-accordion">
      <div class="accordion-group">

        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#basic-accordion" href="#collapseFour">Open <span class="badge badge-info"><%= @box_requests_open_admin.count %> </span></a>
        </div>
        <div id="collapseFour" class="accordion-body collapse">
          <div class="accordion-inner">
            <table class="table table-bordered table-striped">
              <thead><tr>
                <th>Request Date</th>
                <th>Box Quantity</th>
                <th>Status</th>
                <th class="td-actions">Action</th>
              </tr></thead>

              <tbody>
                <% @box_requests_open_admin.each do |box_requests_open_admin| %>
                  <tr>
                    <td><%= box_requests_open_admin.created_at.strftime("%d %b, %Y") %></td>
                    <td><%= box_requests_open_admin.quantity %></td>
                    <td><%= box_requests_open_admin.state %></td>
                    <td class="td-actions">
                      <%= link_to "Edit", edit_box_request_path(box_requests_open_admin), :class => 'btn btn-mini btn-primary' %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div> <!-- accordion-group -->
    </div> <!-- accordion -->
    <% else %>
      <p>There are no open storage request.</p>
    <% end %>
  </div> <!-- .widget-content -->
</div> <!-- /widget -->
