<div class="account-container stacked">
  <div class="content clearfix">
    <h3>Sign in</h3>

    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="login-fields">
        <%= f.input :email, :required => false, :autofocus => true, :placeholder => 'Email', :label => false, :input_html => { :class => 'login username-field' } %>
        <%= f.input :password, :required => false, :placeholder => 'Password', :label => false, :input_html => { :class => 'login password-field' } %>
      </div> <!-- /login-fields -->

      <%= f.input :remember_me, :inline_label => 'Remember me', :label => false, :as => :boolean if devise_mapping.rememberable? %>

      <%= f.button :submit, "Sign in", :class => "btn btn-primary" %>
    <% end %>
  </div> <!-- /content -->
</div> <!-- /account-container -->

<!-- Text Under Box -->
<div class="login-extra">
  <%= render "devise/shared/links" %>
</div> <!-- /login-extra -->
