<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
        <i class="icon-reorder"></i>
      </a>

      <div class="subnav-collapse collapse">
        <ul class="mainnav">
          <% if user_signed_in? %>
            <li class="active">
              <a href="/dashboards">
                <i class="icon-home"></i>
                <span>Home</span>
              </a>
            </li>

            <% if current_user.role != "User" %>
              <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-group"></i>
                  <span>Users</span>
                  <b class="caret"></b>
                </a>

                <ul class="dropdown-menu">
                  <li><%= link_to "List Users", users_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Add new user", new_user_path %></li>
                </ul>
              </li>
            <% end %>

            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-briefcase"></i>
                <span>Boxes</span>
                <b class="caret"></b>
              </a>

              <ul class="dropdown-menu">
                <li><%= link_to "List Storage Requests", storage_requests_path %></li>
                <li><%= link_to "List Retrieval Requests", retrieval_requests_path %></li>
                <li class="divider"></li>
                <li><%= link_to "List Boxes and Items", packages_path %></li>
                <li class="divider"></li>
                <li><%= link_to "New Storage Request", new_storage_request_path %></li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div> <!-- /.subnav-collapse -->
    </div> <!-- /container -->
  </div> <!-- /subnavbar-inner -->
</div> <!-- /subnavbar -->
